@page 
@{
    Layout = "_Layout";
}
@using BusinessObject.Models;
@model PRN_Trial.Pages.Candidate.CreateModel
@{
}
<h1>Create</h1>
<h4>CandidateProfile</h4>
<hr />
<h4 style="color:red">@ViewBag.Message</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                <label asp-for="Candidate.Fullname" class="control-label"></label>
                <input asp-for="Candidate.Fullname" class="form-control" />
                <span asp-validation-for="Candidate.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.Birthday" class="control-label"></label>
                <input asp-for="Candidate.Birthday" type="date" class="form-control" />
                <span asp-validation-for="Candidate.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.ProfileShortDescription" class="control-label"></label>
                <input asp-for="Candidate.ProfileShortDescription" class="form-control" />
                <span asp-validation-for="Candidate.ProfileShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.ProfileUrl" class="control-label"></label>
                <input asp-for="Candidate.ProfileUrl" class="form-control" />
                <span asp-validation-for="Candidate.ProfileUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.PostingId" class="control-label"></label>
                <select asp-for="Candidate.PostingId" class="form-control">
                    @foreach (JobPosting j in ViewData["jobPostings"] as IEnumerable<JobPosting>)
                    {
                        <option value="@j.PostingId"> @j.JobPostingTitle</option>
                    }
                </select>
                <span asp-validation-for="Candidate.PostingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>